.idea/
*.ini
*.pyc
*.pyc
hw3/our_data/*
hw2/hsv figures/value.png
hw2/hsv figures/saturation.png
hw2/hsv figures/hue.png
hw2/q3/pytorch_segmentation_detection/__pycache__/__init__.cpython-36.pyc
hw2/q3/pytorch_segmentation_detection/__pycache__/__init__.cpython-36.pyc
hw2/q3/pytorch_segmentation_detection/models/__pycache__/resnet_dilated.cpython-36.pyc
hw3/our_data/q5_ariel_stable.avi
hw3/our_data/q8_ariel_stable.avi
hw3/our_data/q8_ariel_stable.avi
hw3/q8_long_stable_second.avi
hw3/q8_long_stable.avi
hw3/q8_long_stable.avi
q8backup.txt
hw3/q8_long_stable.avi
hw3/q8_short_stable.avi
hw3/q8_short_stable.jpg
hw4/our_results/haar_detection/10.jpg
hw4/our_results/haar_detection/100.jpg
hw4/our_results/haar_detection/101.jpg
hw4/our_results/haar_detection/102.jpg
hw4/our_results/haar_detection/105.jpg
hw4/our_results/haar_detection/106.jpg
hw4/our_results/haar_detection/110.jpg
hw4/our_results/haar_detection/111.jpg
hw4/our_results/haar_detection/112.jpg
hw4/our_results/haar_detection/113.jpg
hw4/our_results/haar_detection/115.jpg
hw4/our_results/haar_detection/12.jpg
hw4/our_results/haar_detection/121.jpg
hw4/our_results/haar_detection/122.jpg
hw4/our_results/haar_detection/123.jpg
hw4/our_results/haar_detection/124.jpg
hw4/our_results/haar_detection/125.jpg
hw4/our_results/haar_detection/127.jpg
hw4/our_results/haar_detection/129.jpg
hw4/our_results/haar_detection/130.jpg
hw4/our_results/haar_detection/131.jpg
hw4/our_results/haar_detection/132.jpg
hw4/our_results/haar_detection/16.jpg
hw4/our_results/haar_detection/19.jpg
hw4/our_results/haar_detection/28.jpg
hw4/our_results/haar_detection/30.jpg
hw4/our_results/haar_detection/49.jpg
hw4/our_results/haar_detection/5.jpg
hw4/our_results/haar_detection/68.jpg
hw4/our_results/haar_detection/71.jpg
hw4/our_results/haar_detection/77.jpg
hw4/our_results/haar_detection/79.jpg
hw4/our_results/haar_detection/8.jpg
hw4/our_results/haar_detection/82.jpg
hw4/our_results/haar_detection/83.jpg
hw4/our_results/haar_detection/84.jpg
hw4/our_results/haar_detection/85.jpg
hw4/our_results/haar_detection/87.jpg
hw4/our_results/haar_detection/88.jpg
hw4/our_results/haar_detection/89.jpg
hw4/our_results/haar_detection/90.jpg
hw4/our_results/haar_detection/92.jpg
hw4/our_results/haar_detection/93.jpg
hw4/our_results/haar_detection/94.jpg
hw4/our_results/haar_detection/96.jpg
hw4/our_results/haar_detection/97.jpg
hw4/our_results/haar_detection/98.jpg
hw4/our_results/haar_detection/99.jpg
hw4/our_results/haar_detection/99.jpg
hw4/our_results/haar_detection/98.jpg
hw4/our_results/haar_detection/97.jpg
hw4/our_results/haar_detection/96.jpg
hw4/our_results/haar_detection/95.jpg
hw4/our_results/haar_detection/94.jpg
hw4/our_results/haar_detection/93.jpg
hw4/our_results/haar_detection/92.jpg
hw4/our_results/haar_detection/91.jpg
hw4/our_results/haar_detection/90.jpg
hw4/our_results/haar_detection/9.jpg
hw4/our_results/haar_detection/89.jpg
hw4/our_results/haar_detection/88.jpg
hw4/our_results/haar_detection/87.jpg
hw4/our_results/haar_detection/86.jpg
hw4/our_results/haar_detection/85.jpg
hw4/our_results/haar_detection/84.jpg
hw4/our_results/haar_detection/83.jpg
hw4/our_results/haar_detection/82.jpg
hw4/our_results/haar_detection/81.jpg
hw4/our_results/haar_detection/80.jpg
hw4/our_results/haar_detection/8.jpg
hw4/our_results/haar_detection/79.jpg
hw4/our_results/haar_detection/78.jpg
hw4/our_results/haar_detection/77.jpg
hw4/our_results/haar_detection/76.jpg
hw4/our_results/haar_detection/75.jpg
hw4/our_results/haar_detection/74.jpg
hw4/our_results/haar_detection/73.jpg
hw4/our_results/haar_detection/72.jpg
hw4/our_results/haar_detection/71.jpg
hw4/our_results/haar_detection/70.jpg
hw4/our_results/haar_detection/7.jpg
hw4/our_results/haar_detection/69.jpg
hw4/our_results/haar_detection/68.jpg
hw4/our_results/haar_detection/67.jpg
hw4/our_results/haar_detection/66.jpg
hw4/our_results/haar_detection/65.jpg
hw4/our_results/haar_detection/64.jpg
hw4/our_results/haar_detection/63.jpg
hw4/our_results/haar_detection/62.jpg
hw4/our_results/haar_detection/61.jpg
hw4/our_results/haar_detection/60.jpg
hw4/our_results/haar_detection/6.jpg
hw4/our_results/haar_detection/59.jpg
hw4/our_results/haar_detection/58.jpg
hw4/our_results/haar_detection/57.jpg
hw4/our_results/haar_detection/56.jpg
hw4/our_results/haar_detection/55.jpg
hw4/our_results/haar_detection/54.jpg
hw4/our_results/haar_detection/53.jpg
hw4/our_results/haar_detection/52.jpg
hw4/our_results/haar_detection/51.jpg
hw4/our_results/haar_detection/50.jpg
hw4/our_results/haar_detection/5.jpg
hw4/our_results/haar_detection/49.jpg
hw4/our_results/haar_detection/48.jpg
hw4/our_results/haar_detection/47.jpg
hw4/our_results/haar_detection/46.jpg
hw4/our_results/haar_detection/45.jpg
hw4/our_results/haar_detection/44.jpg
hw4/our_results/haar_detection/43.jpg
hw4/our_results/haar_detection/42.jpg
hw4/our_results/haar_detection/41.jpg
hw4/our_results/haar_detection/40.jpg
hw4/our_results/haar_detection/39.jpg
hw4/our_results/haar_detection/38.jpg
hw4/our_results/haar_detection/37.jpg
hw4/our_results/haar_detection/36.jpg
hw4/our_results/haar_detection/35.jpg
hw4/our_results/haar_detection/34.jpg
hw4/our_results/haar_detection/33.jpg
hw4/our_results/haar_detection/32.jpg
hw4/our_results/haar_detection/31.jpg
hw4/our_results/haar_detection/30.jpg
hw4/our_results/haar_detection/3.jpg
hw4/our_results/haar_detection/29.jpg
hw4/our_results/haar_detection/28.jpg
hw4/our_results/haar_detection/27.jpg
hw4/our_results/haar_detection/26.jpg
hw4/our_results/haar_detection/25.jpg
hw4/our_results/haar_detection/24.jpg
hw4/our_results/haar_detection/23.jpg
hw4/our_results/haar_detection/22.jpg
hw4/our_results/haar_detection/21.jpg
hw4/our_results/haar_detection/20.jpg
hw4/our_results/haar_detection/2.jpg
hw4/our_results/haar_detection/19.jpg
hw4/our_results/haar_detection/18.jpg
hw4/our_results/haar_detection/17.jpg
hw4/our_results/haar_detection/16.jpg
hw4/our_results/haar_detection/15.jpg
hw4/our_results/haar_detection/14.jpg
hw4/our_results/haar_detection/134.jpg
hw4/our_results/haar_detection/133.jpg
hw4/our_results/haar_detection/132.jpg
hw4/our_results/haar_detection/131.jpg
hw4/our_results/haar_detection/130.jpg
hw4/our_results/haar_detection/13.jpg
hw4/our_results/haar_detection/129.jpg
hw4/our_results/haar_detection/128.jpg
hw4/our_results/haar_detection/127.jpg
hw4/our_results/haar_detection/126.jpg
hw4/our_results/haar_detection/125.jpg
hw4/our_results/haar_detection/124.jpg
hw4/our_results/haar_detection/123.jpg
hw4/our_results/haar_detection/122.jpg
hw4/our_results/haar_detection/121.jpg
hw4/our_results/haar_detection/120.jpg
hw4/our_results/haar_detection/12.jpg
hw4/our_results/haar_detection/119.jpg
hw4/our_results/haar_detection/118.jpg
hw4/our_results/haar_detection/117.jpg
hw4/our_results/haar_detection/116.jpg
hw4/our_results/haar_detection/115.jpg
hw4/our_results/haar_detection/114.jpg
hw4/our_results/haar_detection/113.jpg
hw4/our_results/haar_detection/112.jpg
hw4/our_results/haar_detection/111.jpg
hw4/our_results/haar_detection/110.jpg
hw4/our_results/haar_detection/11.jpg
hw4/our_results/haar_detection/109.jpg
hw4/our_results/haar_detection/108.jpg
hw4/our_results/haar_detection/107.jpg
hw4/our_results/haar_detection/106.jpg
hw4/our_results/haar_detection/105.jpg
hw4/our_results/haar_detection/104.jpg
hw4/our_results/haar_detection/103.jpg
hw4/our_results/haar_detection/102.jpg
hw4/our_results/haar_detection/101.jpg
hw4/our_results/haar_detection/100.jpg
hw4/our_results/haar_detection/10.jpg
hw4/our_results/haar_detection/1.jpg
hw4/our_results/haar_detection/0.jpg
hw4/pose_estimation/single.jpeg
hw4/pose_estimation/sample_video.mp4
hw4/pose_estimation/pose/mpi/pose_iter_160000.caffemodel
hw4/pose_estimation/pose/mpi/pose_deploy_linevec_faster_4_stages.prototxt
hw4/pose_estimation/pose/mpi/pose_deploy_linevec.prototxt
hw4/pose_estimation/pose/coco/pose_iter_440000.caffemodel
hw4/pose_estimation/pose/coco/pose_deploy_linevec.prototxt
hw4/pose_estimation/output.avi
hw4/pose_estimation/Output-Skeleton.jpg
hw4/pose_estimation/Output-Keypoints.jpg
hw4/pose_estimation/OpenPoseVideo.py
hw4/pose_estimation/OpenPoseImage.py
hw4/pose_estimation/hand/pose_iter_102000.caffemodel
hw4/pose_estimation/getModels.sh
hw4/pose_estimation/face/pose_iter_116000.caffemodel
hw4/pose_estimation/CMakeLists.txt
hw4/pose_estimation/ariel.avi
hw4/our_results/haar_detection/10.jpg
hw4/our_results/haar_detection/100.jpg
hw4/our_results/haar_detection/101.jpg
hw4/our_results/haar_detection/102.jpg
hw4/our_results/haar_detection/105.jpg
hw4/our_results/haar_detection/106.jpg
hw4/our_results/haar_detection/107.jpg
hw4/our_results/haar_detection/108.jpg
hw4/our_results/haar_detection/109.jpg
hw4/our_results/haar_detection/11.jpg
hw4/our_results/haar_detection/110.jpg
hw4/our_results/haar_detection/111.jpg
hw4/our_results/haar_detection/112.jpg
hw4/our_results/haar_detection/113.jpg
hw4/our_results/haar_detection/115.jpg
hw4/our_results/haar_detection/116.jpg
hw4/our_results/haar_detection/117.jpg
hw4/our_results/haar_detection/118.jpg
hw4/our_results/haar_detection/119.jpg
hw4/our_results/haar_detection/12.jpg
hw4/our_results/haar_detection/120.jpg
hw4/our_results/haar_detection/121.jpg
hw4/our_results/haar_detection/122.jpg
hw4/our_results/haar_detection/123.jpg
hw4/our_results/haar_detection/124.jpg
hw4/our_results/haar_detection/125.jpg
hw4/our_results/haar_detection/126.jpg
hw4/our_results/haar_detection/127.jpg
hw4/our_results/haar_detection/129.jpg
hw4/our_results/haar_detection/13.jpg
hw4/our_results/haar_detection/130.jpg
hw4/our_results/haar_detection/131.jpg
hw4/our_results/haar_detection/132.jpg
hw4/our_results/haar_detection/16.jpg
hw4/our_results/haar_detection/19.jpg
hw4/our_results/haar_detection/28.jpg
hw4/our_results/haar_detection/3.jpg
hw4/our_results/haar_detection/30.jpg
hw4/our_results/haar_detection/49.jpg
hw4/our_results/haar_detection/5.jpg
hw4/our_results/haar_detection/56.jpg
hw4/our_results/haar_detection/63.jpg
hw4/our_results/haar_detection/66.jpg
hw4/our_results/haar_detection/68.jpg
hw4/our_results/haar_detection/70.jpg
hw4/our_results/haar_detection/71.jpg
hw4/our_results/haar_detection/74.jpg
hw4/our_results/haar_detection/77.jpg
hw4/our_results/haar_detection/79.jpg
hw4/our_results/haar_detection/8.jpg
hw4/our_results/haar_detection/80.jpg
hw4/our_results/haar_detection/82.jpg
hw4/our_results/haar_detection/83.jpg
hw4/our_results/haar_detection/84.jpg
hw4/our_results/haar_detection/85.jpg
hw4/our_results/haar_detection/87.jpg
hw4/our_results/haar_detection/88.jpg
hw4/our_results/haar_detection/89.jpg
hw4/our_results/haar_detection/90.jpg
hw4/our_results/haar_detection/91.jpg
hw4/our_results/haar_detection/92.jpg
hw4/our_results/haar_detection/93.jpg
hw4/our_results/haar_detection/94.jpg
hw4/our_results/haar_detection/95.jpg
hw4/our_results/haar_detection/96.jpg
hw4/our_results/haar_detection/97.jpg
hw4/our_results/haar_detection/98.jpg
hw4/our_results/haar_detection/99.jpg
hw4/our_results/haar_detection/10.jpg
hw4/our_results/haar_detection/100.jpg
hw4/our_results/haar_detection/101.jpg
hw4/our_results/haar_detection/102.jpg
hw4/our_results/haar_detection/105.jpg
hw4/our_results/haar_detection/106.jpg
hw4/our_results/haar_detection/107.jpg
hw4/our_results/haar_detection/108.jpg
hw4/our_results/haar_detection/109.jpg
hw4/our_results/haar_detection/11.jpg
hw4/our_results/haar_detection/110.jpg
hw4/our_results/haar_detection/111.jpg
hw4/our_results/haar_detection/112.jpg
hw4/our_results/haar_detection/113.jpg
hw4/our_results/haar_detection/115.jpg
hw4/our_results/haar_detection/116.jpg
hw4/our_results/haar_detection/117.jpg
hw4/our_results/haar_detection/118.jpg
hw4/our_results/haar_detection/119.jpg
hw4/our_results/haar_detection/12.jpg
hw4/our_results/haar_detection/120.jpg
hw4/our_results/haar_detection/121.jpg
hw4/our_results/haar_detection/122.jpg
hw4/our_results/haar_detection/123.jpg
hw4/our_results/haar_detection/124.jpg
hw4/our_results/haar_detection/125.jpg
hw4/our_results/haar_detection/126.jpg
hw4/our_results/haar_detection/127.jpg
hw4/our_results/haar_detection/129.jpg
hw4/our_results/haar_detection/13.jpg
hw4/our_results/haar_detection/19.jpg
hw4/our_results/haar_detection/28.jpg
hw4/our_results/haar_detection/3.jpg
hw4/our_results/haar_detection/30.jpg
hw4/our_results/haar_detection/4.jpg
hw4/our_results/haar_detection/49.jpg
hw4/our_results/haar_detection/5.jpg
hw4/our_results/haar_detection/56.jpg
hw4/our_results/haar_detection/63.jpg
hw4/our_results/haar_detection/66.jpg
hw4/our_results/haar_detection/68.jpg
hw4/our_results/haar_detection/70.jpg
hw4/our_results/haar_detection/71.jpg
hw4/our_results/haar_detection/74.jpg
hw4/our_results/haar_detection/77.jpg
hw4/our_results/haar_detection/79.jpg
hw4/our_results/haar_detection/8.jpg
hw4/our_results/haar_detection/80.jpg
hw4/our_results/haar_detection/82.jpg
hw4/our_results/haar_detection/83.jpg
hw4/our_results/haar_detection/84.jpg
hw4/our_results/haar_detection/85.jpg
hw4/our_results/haar_detection/87.jpg
hw4/our_results/haar_detection/88.jpg
hw4/our_results/haar_detection/89.jpg
hw4/our_results/haar_detection/90.jpg
hw4/our_results/haar_detection/91.jpg
hw4/our_results/haar_detection/92.jpg
hw4/our_results/haar_detection/93.jpg
hw4/our_results/haar_detection/94.jpg
hw4/our_results/haar_detection/95.jpg
hw4/our_results/haar_detection/96.jpg
hw4/our_results/haar_detection/97.jpg
hw4/our_results/haar_detection/98.jpg
hw4/our_results/haar_detection/99.jpg
