.idea/
*.ini
*.pyc
*.pyc
hw3/our_data/*
hw2/hsv figures/value.png
hw2/hsv figures/saturation.png
hw2/hsv figures/hue.png
hw2/q3/pytorch_segmentation_detection/__pycache__/__init__.cpython-36.pyc
hw2/q3/pytorch_segmentation_detection/__pycache__/__init__.cpython-36.pyc
hw2/q3/pytorch_segmentation_detection/models/__pycache__/resnet_dilated.cpython-36.pyc
hw3/our_data/q5_ariel_stable.avi
hw3/our_data/q8_ariel_stable.avi
hw3/our_data/q8_ariel_stable.avi
hw3/q8_long_stable_second.avi
hw3/q8_long_stable.avi
hw3/q8_long_stable.avi
