.idea/
*.ini
*.pyc
*.pyc
hw3/our_data/*
hw2/hsv figures/value.png
hw2/hsv figures/saturation.png
hw2/hsv figures/hue.png
hw2/q3/pytorch_segmentation_detection/__pycache__/__init__.cpython-36.pyc
hw2/q3/pytorch_segmentation_detection/__pycache__/__init__.cpython-36.pyc
hw2/q3/pytorch_segmentation_detection/models/__pycache__/resnet_dilated.cpython-36.pyc
hw3/our_data/q5_ariel_stable.avi
hw3/our_data/q8_ariel_stable.avi
hw3/our_data/q8_ariel_stable.avi
hw3/q8_long_stable_second.avi
hw3/q8_long_stable.avi
hw3/q8_long_stable.avi
q8backup.txt
hw3/q8_long_stable.avi
hw3/q8_short_stable.avi
hw3/q8_short_stable.jpg
hw4/our_results/haar_detection/10.jpg
hw4/our_results/haar_detection/100.jpg
hw4/our_results/haar_detection/101.jpg
hw4/our_results/haar_detection/102.jpg
hw4/our_results/haar_detection/105.jpg
hw4/our_results/haar_detection/106.jpg
hw4/our_results/haar_detection/110.jpg
hw4/our_results/haar_detection/111.jpg
hw4/our_results/haar_detection/112.jpg
hw4/our_results/haar_detection/113.jpg
hw4/our_results/haar_detection/115.jpg
hw4/our_results/haar_detection/12.jpg
hw4/our_results/haar_detection/121.jpg
hw4/our_results/haar_detection/122.jpg
hw4/our_results/haar_detection/123.jpg
hw4/our_results/haar_detection/124.jpg
hw4/our_results/haar_detection/125.jpg
hw4/our_results/haar_detection/127.jpg
hw4/our_results/haar_detection/129.jpg
hw4/our_results/haar_detection/130.jpg
hw4/our_results/haar_detection/131.jpg
hw4/our_results/haar_detection/132.jpg
hw4/our_results/haar_detection/16.jpg
hw4/our_results/haar_detection/19.jpg
hw4/our_results/haar_detection/28.jpg
hw4/our_results/haar_detection/30.jpg
hw4/our_results/haar_detection/49.jpg
hw4/our_results/haar_detection/5.jpg
hw4/our_results/haar_detection/68.jpg
hw4/our_results/haar_detection/71.jpg
hw4/our_results/haar_detection/77.jpg
hw4/our_results/haar_detection/79.jpg
hw4/our_results/haar_detection/8.jpg
hw4/our_results/haar_detection/82.jpg
hw4/our_results/haar_detection/83.jpg
hw4/our_results/haar_detection/84.jpg
hw4/our_results/haar_detection/85.jpg
hw4/our_results/haar_detection/87.jpg
hw4/our_results/haar_detection/88.jpg
hw4/our_results/haar_detection/89.jpg
hw4/our_results/haar_detection/90.jpg
hw4/our_results/haar_detection/92.jpg
hw4/our_results/haar_detection/93.jpg
hw4/our_results/haar_detection/94.jpg
hw4/our_results/haar_detection/96.jpg
hw4/our_results/haar_detection/97.jpg
hw4/our_results/haar_detection/98.jpg
hw4/our_results/haar_detection/99.jpg
